{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{subject}}</title>
  <!-- <style> -->
</head>

<body>
  <span class="preheader">{{description}}</span>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>

          <wrapper style="background-color: #353534; background-image:url('http://image.ibb.co/i5xwF7/vector_smart_object_1.png');background-size:cover;">
            <spacer size="45"></spacer>
            <row>
              <columns style="padding-left: 35px" small="6" large="6">
                <p>
                  <img class="float-left" src="http://image.ibb.co/fSmCoS/vector_smart_object.png">
                </p>
              </columns>
              <columns style="padding-right: 30px" small="6" large="6">
                <p>
                  <img class="float-right" src="http://image.ibb.co/nLM1hn/db_wordmark_w_rgb.png">
                </p>
              </columns>
            </row>
            <spacer size="10"></spacer>
          </wrapper>

          <row class="main-title" style="background-color: #f6891f; background-image:url('http://test.onevdev.com/test-mail/bg-bottom.png'); background-size:cover;">
            <columns small="12">
              <center>
                <spacer size="40"></spacer>            
                <h3 class="text-center" style="font-size:46px; margin-bottom: 5px"> להרחבת העסק שלכם</h3>
                <!-- <spacer size="44"></spacer>             -->
                <h2 class="text-center" style="font-size:50px; font-weight:bold; margin-bottom: 52px;">בלעדי ללקוחות דן אנד ברדסטריט בואו למצוא הזדמנויות עסקיות</h2>
                <button class="large secondary main-btn" href="#"> !ההצטרפות חינם לזמן מוגבל</button>
                <spacer size="12"></spacer>
              </center>
            </columns>
          </row>

          <spacer size="16"></spacer>

          <row class="main-text">
            <columns>
              <p style="font-size:24px; margin-top: 4px; margin-bottom: 12px;">
                <b>
                   אחד המנועים העיקריים לצמיחת עסקים הינם שותפים עסקיים גלובאליים.
                </b>
              </p>
              <p>
                <b>פאוורלינקס</b> הינה רשת עולמית של שותפים עסקיים מבית דן אנד ברדסטריט המאתרת בקלות ונוחות, ומחברת בין
              </p>
              <spacer size="6"></spacer>
              <p>
                ספקים, שותפים, משקיעים ועסקים בארץ ובעולם
              </p>
              <p>
                הצטרפו לעשרות אלפי לקוחות מרוצים מהעולם, ותהינו מכל השירותים המוצעים ב
                <b>פאוורלינקס</b>
              </p>
              <p>
                בחינם וללא התחייבות עד לתאריך 31.12.15
              </p>
              <spacer size="24"></spacer>
              <p>
                <b>
                  פאוורלינקס - שלושה צעדים פשוטים ומקבלים רשימה של הזדמנויות עסקיות המתאימות לעסק שלכם:
                </b>
              </p>
              <p>
                יוצרים פרופיל עסקי
              </p>
              <p>
                מגדירים את ההזדמנויות העסקיות הנדרשות
              </p>
              <p>
                וצאים התאמות ומרחיבים את העסק
              </p>
              <spacer size="24"></spacer>
              <p>
                <b>
                  מכאן הפלטפורמה תעבוד בשבילכם –
                </b>
                תוך זמן קצר תקבלו רשימת הזדמנויות מותאמת לדרישות שלכם ישירות לתיבה שלכם
              </p>
              <spacer size="24"></spacer>              
              <p style="color:#f6891f; font-weight:bold; text-align:center;">
                בכל שלב ניתן לפנות ליועץ אישי בכדי לקבל ליווי ועזרה בהקמת פרופיל ובהגדרות החיפוש במערכת.
              </p>
              <spacer size="24"></spacer>              
              <p>
                <b>בהצלחה,</b>
                <br>
                <b>צוות</b> פאוורלינקס
              </p>
            </columns>
          </row>

          <center>
            <button class="main-btn" href="#">
              <p style="font-size: 26px; text-align:center; line-height:1; color:white; margin-bottom: 0;">ההצטרפות חינם לזמן מוגבל</p>
              <p style="font-size: 16px; text-align:center; line-height:1; color:white; margin-bottom: 0;">ללא התחייבות, ללא פרטי אשראי</p>
            </button>
            <spacer size="24"></spacer>
            
          </center>
          <row style="background:#f6891f;">
            <columns>
              <spacer size="6"></spacer>              
              <img class="float-center" src="http://image.ibb.co/kno3v7/vector_smart_object_3.png" alt="">
            </columns>
          </row>

        </center>
      </td>
    </tr>
  </table>
  <!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>

</html>